/* 公共样式 */
:root {
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #e60046;
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: #ff6496;
  --color-secondary-content: oklch(40% 0.153 2.432);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: PingFang SC, HarmonyOS_Regular, Helvetica Neue, Microsoft YaHei, sans-serif;
  line-height: 1.5;
  color: var(--color-base-content);
  background-color: var(--color-base-200);
}

ul,
ol {
  list-style: none;
}

em,
i {
  font-style: normal;
}

a {
  color: var(--color-base-content);
  text-decoration: none;
}

img {
  vertical-align: middle;
}

input {
  border: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/* header部分 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  padding: 4px 8px;
  background-color: var(--color-base-100);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
}

/* logo部分 */
header .logo {
  height: 50px;
  width: 50px;
}

header .logo h1 {
  width: 100%;
  height: 100%;
}

header .logo h1 a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: url(icon.png) no-repeat center/cover;
  text-indent: -9999px;
  overflow: hidden;
}

/* navigation部分 */
header .navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

header .navigation li a {
  display: block;
  padding: 0 8px 2px;
  border-radius: 4px;
  color: var(--color-primary-content);
  background-color: var(--color-primary);
  border: 2px solid var(--color-base-content);
}

header .navigation li a:hover {
  border-color: var(--color-primary);
}

header .navigation .bars {
  width: 28px;
  height: 28px;
  padding: 2px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

header .navigation .bars:hover {
  background-color: var(--color-base-300);
}

header .navigation .bars svg {
  width: 100%;
  height: 100%;
}

/* main部分 */
main {
  min-height: calc(100vh - 125px);
}

.container {
  width: 100%;

  @media (width >=40rem) {
    max-width: 40rem;
  }

  @media (width >=48rem) {
    max-width: 48rem;
  }

  @media (width >=64rem) {
    max-width: 64rem;
  }

  @media (width >=80rem) {
    max-width: 80rem;
  }

  @media (width >=96rem) {
    max-width: 96rem;
  }
}

/* footer部分 */
footer {
  width: 100%;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  line-height: 50px;
  background-color: var(--color-secondary);
  color: var(--color-secondary-content);
}