/* Sider部分 */
.sider {
  /* display: none; */
}

.sider li a {
  display: block;
  padding: 4px 0;
  text-align: center;
  background-color: var(--color-base-100);
  color: var(--color-base-content);
}

.sider li:first-child a {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.sider li:last-child a {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.sider li a:hover {
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}

/* ResourcePanel部分 */
.resource-panel {
  width: 100%;
  margin-bottom: 20px;
}

.resource-panel .resource-name {
  margin: 5px 0;
}

.resource-panel .resource-name h2 {
  font-size: 20px;
  font-weight: 700;
}

.resource-panel .resource-name h2::before {
  content: "";
  display: block;
  height: 60px;
  margin-top: -60px;
}

.resource-panel .resource-sites ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 8px;
}

.resource-panel .resource-sites li {
  background-color: var(--color-base-100);
  border-radius: 8px;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.16);
  transition: all .3s;
}

.resource-panel .resource-sites li:hover {
  transform: translateY(-4px);
}

.resource-panel .resource-sites li .card {
  display: block;
  padding: 8px;
}

.card .card-head {
  display: flex;
  align-items: center;
}

.card .card-head .site-image {
  height: 32px;
  width: 32px;
  margin-right: 6px;
  border-radius: 4px;
  overflow: hidden;
}

.card .card-head .site-image img {
  width: 100%;
  height: 100%;
}

.card .card-head .site-image .letter {
  display: block;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--color-secondary-content);
  background-color: var(--color-secondary);
}

.card .card-head .site-name {
  flex: 1;
  min-width: 0;
}

.card .card-head .site-name h3 {
  font-size: 16px;
  font-weight: 700;
  /* 溢出隐藏 */
  overflow: hidden;
  /* 文本溢出显示省略号 */
  text-overflow: ellipsis;
  /* 强制文字一行显示，不换行 */
  white-space: nowrap;
}

.card .card-body .site-description {
  margin-top: 4px;
  font-size: 14px;
}

.card .card-body .site-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  flex-wrap: wrap;
}

.card .card-body .site-tags span {
  font-size: 12px;
  background: var(--color-primary);
  color: var(--color-primary-content);
  border-radius: 12px;
  padding: 3px 12px;
}