/* ResourcePanel部分 */
.resource-panel {
  width: 100%;
  margin-bottom: 20px;
}

.resource-panel:last-child {
  margin-bottom: 0;
}

.resource-panel .resource-name {
  margin: 5px 0;
}

.resource-panel .resource-name h2 {
  font-size: 20px;
  font-weight: 700;
}

.resource-panel .resource-sites ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 8px;
}

.resource-panel .resource-sites li {
  background-color: var(--color-base-100);
  border-radius: 8px;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.16);
  transition: all .3s;
}

.resource-panel .resource-sites li:hover {
  transform: translateY(-4px);
}

.resource-panel .resource-sites li .card {
  display: block;
  padding: 8px;
}

.card .card-head {
  display: flex;
  align-items: center;
}

.card .card-head .site-image {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 4px;
  overflow: hidden;
}

.card .card-head .site-image .letter {
  display: block;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}

.card .card-head .site-name {
  flex: 1;
  min-width: 0;
}

.card .card-head .site-name h3 {
  font-size: 16px;
  font-weight: 700;
  /* 溢出隐藏 */
  overflow: hidden;
  /* 文本溢出显示省略号 */
  text-overflow: ellipsis;
  /* 强制文字一行显示，不换行 */
  white-space: nowrap;
}

.card .card-body .site-description {
  margin-top: 4px;
  font-size: 14px;
}

.card .card-body .site-tags {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 4px;
  flex-wrap: wrap;
}

.card .card-body .site-tags span {
  font-size: 12px;
  background: var(--color-primary);
  color: var(--color-primary-content);
  border-radius: 12px;
  padding: 3px 12px;
}

/* SearchBox部分 */
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(62vh - 25px);
}

.search-box .search-bar {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.search-box .search-bar .search-tab {
  margin-bottom: 8px;
}

.search-box .search-bar .search-tab .tab-item {
  display: inline-block;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-base-300);
  border: 1px solid var(--color-base-300);
  border-radius: 4px;
  cursor: pointer;
  transition: all .3s;
}

.search-box .search-bar .search-tab .tab-item.active {
  color: var(--color-primary-content);
  background-color: var(--color-primary);
}

.search-box .search-bar .search-tab .tab-item:hover {
  transform: scale(1.05);
}

.search-box .search-bar .search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  border: 2px solid var(--color-base-300);
  overflow: hidden;
}

.search-box .search-bar .search-form .search-content {
  flex: 1;
  height: 100%;
}

.search-content input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 16px;
  color: var(--color-base-100);
  background: transparent;
  transition: all .3s;
}

.search-content input:focus {
  color: var(--color-base-content);
  background-color: rgba(255, 255, 255, .7);
}

.search-content input::placeholder {
  color: var(--color-base-300);
}

.search-content input:focus::placeholder {
  color: var(--color-base-content)
}

.search-box .search-bar .search-btn {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 14px;
  cursor: pointer;
  color: var(--color-base-content);
  background-color: var(--color-base-100);
}

.search-box .search-bar .search-btn:hover svg {
  transform: scale(1.1);
}

.search-box .search-bar .search-btn svg {
  width: 24px;
  height: 24px;
}