.article {
  width: 90%;
  height: 100%;
  min-height: calc(62vh - 25px);
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 8px;
  color: var(--color-base-content);
  background-color: var(--color-base-100);
}