.snowflake {
    position: fixed;
    color: #E0E0E0;
    font-size: 20px;
    animation: fall 10s linear infinite;
    user-select: none;
}

@keyframes fall {
    0% {
        top: -10px;
        transform: translateX(0);
    }

    100% {
        top: 100%;
        transform: translateX(61.8vw);
    }
}