---
const { categories, mobile } = Astro.props;
---

{
  mobile === "true" ? (
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <li>
        <a href="/index.html">首页</a>
      </li>
      {categories && (
        <li>
          <details open>
            <summary>分类</summary>
            <ul>
              {categories.map((category: string) => (
                <li>
                  <a href={"#" + category}>{category}</a>
                </li>
              ))}
            </ul>
          </details>
        </li>
      )}
      <li>
        <a href="/about">关于</a>
      </li>
    </ul>
  ) : (
    <ul class="menu menu-horizontal">
      <li>
        <a href="/index.html">首页</a>
      </li>
      {categories && (
        <li>
          <details>
            <summary>分类</summary>
            <ul class="p-2 w-20">
              {categories.map((category: string) => (
                <li>
                  <a href={"#" + category}>{category}</a>
                </li>
              ))}
            </ul>
          </details>
        </li>
      )}
      <li>
        <a href="/about">关于</a>
      </li>
    </ul>
  )
}
