<!-- 搜索框 -->
<div class="search-box flex items-center justify-center h-[62vh]">
  <div class="w-full max-w-200">
    <!-- 搜索引擎 -->
    <select class="select w-20 h-11 px-4 mb-2 rounded-full text-base">
      <option selected value="bing">必应</option>
      <option value="baidu">百度</option>
      <option value="google">谷歌</option>
    </select>

    <!-- 搜索内容 -->
    <form
      class="flex items-center h-12.5 w-full"
      id="search-form"
      target="_blank"
    >
      <input
        type="search"
        class="input flex-1 h-full px-5 border-2 border-base-100 text-base bg-transparent text-secondary-content focus:bg-base-100/80 focus:text-base-content placeholder:text-secondary-content/80 focus:placeholder:text-base-content/80 rounded-l-full outline-0 transition duration-300"
        placeholder="Search"
        autocomplete="off"
      />

      <button class="btn h-full pl-3 pr-4 bg-base-100 border-0 rounded-r-full">
        <svg
          class="w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          ></path>
        </svg>
      </button>
    </form>
  </div>
</div>

<script>
  // 搜索引擎信息
  const searchEngines = {
    bing: {
      action: "https://cn.bing.com/search",
      queryParam: "q",
    },
    baidu: {
      action: "https://www.baidu.com/s",
      queryParam: "wd",
    },
    google: {
      action: "https://www.google.com/search",
      queryParam: "q",
    },
  };

  // 设置搜索引擎
  function setSearchEngine(action: string, name: string) {
    const searchForm = document.querySelector(
      ".search-form",
    ) as HTMLFormElement;
    const searchContentInput = document.querySelector(
      ".search-content",
    ) as HTMLInputElement;

    searchForm.action = action;
    searchContentInput.name = name;
  }

  // 默认搜索引擎
  const defaultEngine = searchEngines["bing"];
  setSearchEngine(defaultEngine.action, defaultEngine.queryParam);

  // 切换搜索引擎
  const searchEngineSelect = document.querySelector(
    ".search-engine",
  ) as HTMLSelectElement;
  searchEngineSelect?.addEventListener("change", (e) => {
    const engine = searchEngines[searchEngineSelect.value];
    setSearchEngine(engine.action, engine.queryParam);
  });
</script>
