<div class="search-box">
  <div class="search-bar">
    <form
      class="search-form"
      action="https://cn.bing.com/search"
      method="get"
      target="_blank"
    >
      <div class="search-content">
        <input
          type="text"
          name="q"
          placeholder="请输入搜索内容"
          autocomplete="off"
        />
      </div>

      <div class="search-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
          ></path>
        </svg>
      </div>
    </form>
  </div>
</div>

<script>
  // 搜索按钮点击事件
  const searchBtn = document.querySelector(".search-btn");
  searchBtn?.addEventListener("click", () => {
    const searchForm = document.querySelector(".search-form");
    searchForm.submit();
  });
</script>
