---
import "../styles/global.css";
import Snow from "../components/Snow.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle, categories } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>

  <body>
    <Header categories={categories} />

    <main class="main min-h-screen container mx-auto px-4 lg:px-8 py-16">
      <slot />
    </main>

    <Footer />
    <Snow />
  </body>
</html>
