---
import "../styles/global.css";
import "../styles/snow.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle, categories } = Astro.props;
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <!-- <style>
      #app {
        width: 350px;
        height: 100vh;
        margin: 0 auto;
        overflow: auto;
        scroll-behavior: smooth;
        scroll-padding-top: 56px;
      }
    </style> -->
  </head>

  <body>
    <div id="app">
      <Header categories={categories} />

      <main class="main">
        <div class="container">
          <slot />
        </div>
      </main>

      <Footer />
    </div>

    <script src="../scripts/snow.js"></script>
  </body>
</html>
